# ============================================================
# üè† COMPILATION DES BASES LOGEMENT (2015‚Äì2022)
# ============================================================

Dans cette feuile on va : 
- Importer toutes les donn√©es
- Compiler les donn√©es dans un seul fichier pour une pluriannualit√© 
- Formater les noms des variables et calculer d'autres variables si n√©c√©ssaire

In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [46]:
# -----------------------------------------------
# Param√®tres
# -----------------------------------------------

annees = [2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013]
zone = "LIBGEO"  # zone d'agr√©gation
zone_f = []       # filtres √©ventuels
dep_filtre = ["30", "34"] # exemple : Gard

In [3]:
# -----------------------------------------------
# Chargement des fichiers Excel logement
# -----------------------------------------------
def charger_fichier_logement(fichier, sheet, annee, skip=5):
    df = pd.read_excel(fichier, sheet_name=sheet, skiprows=skip)
    df["AN"] = annee
    return df

In [9]:
# Dictionnaire des fichiers et ann√©es (ajuster selon ton dossier)
fichiers = {
    2022: ("../DATA/base-cc-logement-2022.xlsx", "COM_2022"),
    2021: ("../DATA/base-cc-logement-2021.xlsx", "COM_2021"),
    2020: ("../DATA/base-cc-logement-2020.xlsx", "COM_2020"),
    2019: ("../DATA/base-cc-logement-2019.xlsx", "COM_2019"),
    2018: ("../DATA/base-cc-logement-2018.xlsx", "COM_2018"),
    2017: ("../DATA/base-cc-logement-2017.xlsx", "COM_2017"),
    2016: ("../DATA/base-cc-logement-2016.xls", "COM_2016"),
    2015: ("../DATA/base-cc-logement-2015.xls", "COM_2015"),
    2014: ("../DATA/base-cc-logement-2020.xlsx", "COM_2014"),
    2013: ("../DATA/base-cc-logement-2019.xlsx", "COM_2013"),
}

In [8]:
import os
print("R√©pertoire courant :", os.getcwd())

R√©pertoire courant : /Users/aboubacarsiddikhamadoukaka/Documents/M2/S1/open_data/OpenData/notebooks

In [28]:
bases = []
for annee, (fichier, sheet) in fichiers.items():
    df = charger_fichier_logement(fichier, sheet, annee)
    # nettoyage des pr√©fixes Pxx_
    df.columns = df.columns.str.replace(f"P{str(annee)[-2:]}_", "", regex=False)
    bases.append(df)

In [67]:
# -----------------------------------------------
# Fusion de toutes les bases
# -----------------------------------------------
histo_log = pd.concat(bases, ignore_index=True)

In [68]:
print("Colonnes disponibles :", histo_log.columns.tolist())

Colonnes disponibles : ['CODGEO', 'REG', 'DEP', 'LIBGEO', 'LOG', 'RP', 'RSECOCC', 'LOGVAC', 'MAISON', 'APPART', 'RP_1P', 'RP_2P', 'RP_3P', 'RP_4P', 'RP_5PP', 'NBPI_RP', 'RPMAISON', 'NBPI_RPMAISON', 'RPAPPART', 'NBPI_RPAPPART', 'C22_RP_NORME', 'C22_RP_SOUSOCC_MOD', 'C22_RP_SOUSOCC_ACC', 'C22_RP_SOUSOCC_TACC', 'C22_RP_SUROCC_MOD', 'C22_RP_SUROCC_ACC', 'RP_ACHTOT', 'RP_ACH1919', 'RP_ACH1945', 'RP_ACH1970', 'RP_ACH1990', 'RP_ACH2005', 'RP_ACH2019', 'RPMAISON_ACH1919', 'RPMAISON_ACH1945', 'RPMAISON_ACH1970', 'RPMAISON_ACH1990', 'RPMAISON_ACH2005', 'RPMAISON_ACH2019', 'RPAPPART_ACH1919', 'RPAPPART_ACH1945', 'RPAPPART_ACH1970', 'RPAPPART_ACH1990', 'RPAPPART_ACH2005', 'RPAPPART_ACH2019', 'MEN', 'MEN_ANEM0002', 'MEN_ANEM0204', 'MEN_ANEM0509', 'MEN_ANEM10P', 'MEN_ANEM1019', 'MEN_ANEM2029', 'MEN_ANEM30P', 'PMEN', 'PMEN_ANEM0002', 'PMEN_ANEM0204', 'PMEN_ANEM0509', 'PMEN_ANEM10P', 'NBPI_RP_ANEM0002', 'NBPI_RP_ANEM0204', 'NBPI_RP_ANEM0509', 'NBPI_RP_ANEM10P', 'RP_PROP', 'RP_LOC', 'RP_LOCHLMV', 'RP_GRAT', 'NPER_RP', 'NPER_RP_PROP', 'NPER_RP_LOC', 'NPER_RP_LOCHLMV', 'NPER_RP_GRAT', 'ANEM_RP', 'ANEM_RP_PROP', 'ANEM_RP_LOC', 'ANEM_RP_LOCHLMV', 'ANEM_RP_GRAT', 'RP_CGAZV', 'RP_CFIOUL', 'RP_CELEC', 'RP_CGAZB', 'RP_CAUT', 'RP_ELEC', 'RP_EAUCH', 'RP_BDWC', 'RP_CHOS', 'RP_CLIM', 'RP_TTEGOU', 'RP_GARL', 'RP_VOIT1P', 'RP_VOIT1', 'RP_VOIT2P', 'RP_HABFOR', 'RP_CASE', 'RP_MIBOIS', 'RP_MIDUR', 'AN', 'C21_RP_HSTU1P', 'C21_RP_HSTU1P_SUROCC', 'RP_ACH19', 'RP_ACH45', 'RP_ACH70', 'RP_ACH90', 'RP_ACH05', 'RP_ACH18', 'RPMAISON_ACH19', 'RPMAISON_ACH45', 'RPMAISON_ACH70', 'RPMAISON_ACH90', 'RPMAISON_ACH05', 'RPMAISON_ACH18', 'RPAPPART_ACH19', 'RPAPPART_ACH45', 'RPAPPART_ACH70', 'RPAPPART_ACH90', 'RPAPPART_ACH05', 'RPAPPART_ACH18', 'RP_SDB', 'RP_CCCOLL', 'RP_CCIND', 'RP_CINDELEC', 'C20_RP_HSTU1P', 'C20_RP_HSTU1P_SUROCC', 'RP_ACH17', 'RPMAISON_ACH17', 'RPAPPART_ACH17', 'C19_RP_HSTU1P', 'C19_RP_HSTU1P_SUROCC', 'RP_ACH15', 'RPMAISON_ACH15', 'RPAPPART_ACH15', 'C18_RP_HSTU1P', 'C18_RP_HSTU1P_SUROCC', 'C17_RP_HSTU1P', 'C17_RP_HSTU1P_SUROCC', 'RP_ACH14', 'RPMAISON_ACH14', 'RPAPPART_ACH14', 'RP_ACH13', 'RPMAISON_ACH13', 'RPAPPART_ACH13', 'RP_ACH12', 'RPMAISON_ACH12', 'RPAPPART_ACH12', 'C14_RP_HSTU1P', 'C14_RP_HSTU1P_SUROCC', 'RP_ACH11', 'RPMAISON_ACH11', 'RPAPPART_ACH11', 'RP_ACH10', 'RPMAISON_ACH10', 'RPAPPART_ACH10']

In [69]:
histo_log.head()

,CODGEO,REG,DEP,LIBGEO,LOG,RP,RSECOCC,LOGVAC,MAISON,APPART,...,RPMAISON_ACH12,RPAPPART_ACH12,C14_RP_HSTU1P,C14_RP_HSTU1P_SUROCC,RP_ACH11,RPMAISON_ACH11,RPAPPART_ACH11,RP_ACH10,RPMAISON_ACH10,RPAPPART_ACH10
0,01001,84,01,L'Abergement-Cl√©menciat,379.000000,354.000000,11.000000,14.000000,369.000000,9.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01002,84,01,L'Abergement-de-Varey,175.000000,121.000000,41.000000,13.000000,173.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01004,84,01,Amb√©rieu-en-Bugey,7973.370708,7107.012476,125.143124,741.215108,3578.701988,4311.645230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01005,84,01,Amb√©rieux-en-Dombes,920.955245,814.669985,7.749967,98.535293,673.821160,243.719043,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01006,84,01,Ambl√©on,71.000000,57.000000,8.000000,6.000000,68.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# Cr√©ation de RP_LOCPRIV
if "RP_LOC" in histo_log.columns and "RP_LOCHLMV" in histo_log.columns:
    histo_log["RP_LOCPRIV"] = histo_log["RP_LOC"] - histo_log["RP_LOCHLMV"]

# S√©lection des colonnes utiles
cols_to_keep = [c for c in histo_log.columns if c.endswith(
    ("LOG", "RSECOCC", "LOGVAC", "RP", "RP_LOC", "RP_PROP",
     "RP_LOCPRIV", "RP_LOCHLMV", "RP_GRAT", "AN", "RPMAISON",
     "RPAPPART", "MAISON", "APPART", "P"))
     or "RP_ACH" in c
]
histo_log = histo_log[["CODGEO","LIBGEO"] + cols_to_keep]

# Suppression des colonnes inutiles
cols_to_drop = [c for c in histo_log.columns if any(
    kw in c for kw in ["NBPI_", "HSTU", "NPER_", "ANEM_", "_ANEM", "_VOIT", "PMEN"]
)]
histo_log = histo_log.drop(columns=cols_to_drop, errors="ignore")

In [71]:
print("Colonnes disponibles :", histo_log.columns.tolist())
histo_log.head()
histo_log.info()
histo_log.shape

Colonnes disponibles : ['CODGEO', 'LIBGEO', 'DEP', 'LOG', 'RP', 'RSECOCC', 'LOGVAC', 'MAISON', 'APPART', 'RP_1P', 'RP_2P', 'RP_3P', 'RP_4P', 'RP_5PP', 'RPMAISON', 'RPAPPART', 'RP_ACHTOT', 'RP_ACH1919', 'RP_ACH1945', 'RP_ACH1970', 'RP_ACH1990', 'RP_ACH2005', 'RP_ACH2019', 'RP_PROP', 'RP_LOC', 'RP_LOCHLMV', 'RP_GRAT', 'AN', 'RP_ACH19', 'RP_ACH45', 'RP_ACH70', 'RP_ACH90', 'RP_ACH05', 'RP_ACH18', 'RP_ACH17', 'RP_ACH15', 'RP_ACH14', 'RP_ACH13', 'RP_ACH12', 'RP_ACH11', 'RP_ACH10', 'RP_LOCPRIV']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349759 entries, 0 to 349758
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   CODGEO      349759 non-null  object
 1   LIBGEO      349759 non-null  object
 2   DEP         349759 non-null  object
 3   LOG         349747 non-null  float64
 4   RP          349747 non-null  float64
 5   RSECOCC     349747 non-null  float64
 6   LOGVAC      349747 non-null  float64
 7   MAISON      349747 non-null  float64
 8   APPART      349747 non-null  float64
 9   RP_1P       349747 non-null  float64
 10  RP_2P       349747 non-null  float64
 11  RP_3P       349747 non-null  float64
 12  RP_4P       349747 non-null  float64
 13  RP_5PP      349747 non-null  float64
 14  RPMAISON    349747 non-null  float64
 15  RPAPPART    349747 non-null  float64
 16  RP_ACHTOT   349747 non-null  float64
 17  RP_ACH1919  34854 non-null   float64
 18  RP_ACH1945  34854 non-null   float64
 19  RP_ACH1970  34854 non-null   float64
 20  RP_ACH1990  34854 non-null   float64
 21  RP_ACH2005  34854 non-null   float64
 22  RP_ACH2019  34854 non-null   float64
 23  RP_PROP     349747 non-null  float64
 24  RP_LOC      349747 non-null  float64
 25  RP_LOCHLMV  349747 non-null  float64
 26  RP_GRAT     349747 non-null  float64
 27  AN          349759 non-null  int64
 28  RP_ACH19    314893 non-null  float64
 29  RP_ACH45    314893 non-null  float64
 30  RP_ACH70    314893 non-null  float64
 31  RP_ACH90    314893 non-null  float64
 32  RP_ACH05    314893 non-null  float64
 33  RP_ACH18    34915 non-null   float64
 34  RP_ACH17    34928 non-null   float64
 35  RP_ACH15    69886 non-null   float64
 36  RP_ACH14    34950 non-null   float64
 37  RP_ACH13    34953 non-null   float64
 38  RP_ACH12    35399 non-null   float64
 39  RP_ACH11    34926 non-null   float64
 40  RP_ACH10    34936 non-null   float64
 41  RP_LOCPRIV  349747 non-null  float64
dtypes: float64(38), int64(1), object(3)
memory usage: 112.1+ MB

(349759, 42)

In [72]:
histo_log_filtre = histo_log = histo_log[histo_log["DEP"].astype(str).isin(dep_filtre)]

In [75]:
histo_log_filtre.head()

,CODGEO,LIBGEO,DEP,LOG,RP,RSECOCC,LOGVAC,MAISON,APPART,RP_1P,...,RP_ACH05,RP_ACH18,RP_ACH17,RP_ACH15,RP_ACH14,RP_ACH13,RP_ACH12,RP_ACH11,RP_ACH10,RP_LOCPRIV
10873,30001,Aigaliers,30,350.745416,229.895704,89.912186,30.937526,329.380299,19.413995,4.875347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.213457
10874,30002,Aigremont,30,414.761075,327.900205,77.663837,9.197033,390.869741,20.817543,4.165367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.421945
10875,30003,Aigues-Mortes,30,5376.776608,3983.513458,1084.436653,308.826498,3810.180887,1527.882255,73.796932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1032.117277
10876,30004,Aigues-Vives,30,1628.669871,1417.886360,90.191022,120.592489,1424.993904,197.521667,24.947336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.631063
10877,30005,Aigu√®ze,30,250.965647,110.032157,113.718747,27.214743,188.938835,54.307282,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.116791

In [76]:
histo_log_filtre.shape

(6931, 42)

In [81]:
# faire un table pour vois les modalit√©s de la variable LIBGEO et le nombre de RP associ√©
table_libgeo = histo_log_filtre.groupby("LIBGEO")["RP"].sum().reset_index().sort_values(by="RP", ascending=False)
table_libgeo.head(20)

                     LIBGEO            RP
362             Montpellier  1.505595e+06
388                   N√Æmes  7.124210e+05
91                  B√©ziers  3.633009e+05
630                    S√®te  2.304333e+05
15                     Al√®s  2.155292e+05
2                      Agde  1.427340e+05
308                   Lunel  1.105164e+05
204              Frontignan  1.029049e+05
114        Castelnau-le-Lez  1.013174e+05
45         Bagnols-sur-C√®ze  8.506196e+04
330                 Mauguio  8.106167e+04
261                  Lattes  8.019310e+04
52                Beaucaire  6.739386e+04
679  Villeneuve-l√®s-Avignon  5.756246e+04
511            Saint-Gilles  5.679238e+04
374                    M√®ze  5.483051e+04
244         La Grande-Motte  5.107022e+04
665                 Vauvert  4.978768e+04
234                Juvignac  4.873872e+04
411       Pont-Saint-Esprit  4.739815e+04

In [82]:
# Exporter le fichier final dans un fichier CSV
histo_log_filtre.to_csv("../SORTIE/Compil_clean.csv", index=False)