# ============================================================
# üè† CREATION DE TABLEAUX POUR FAIRE LES GRAPHIQUES PAR COMMUNE
# ============================================================

In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
# On importe la base principale 

df = pd.read_csv("../SORTIE/Compil_clean.csv")

In [4]:
#renommer la colonne CODGEO en insee_com
df = df.rename(columns={"CODGEO": "insee_com"})

In [5]:
df.head()

,insee_com,LIBGEO,DEP,LOG,RP,RSECOCC,LOGVAC,MAISON,APPART,RP_1P,...,RP_ACH05,RP_ACH18,RP_ACH17,RP_ACH15,RP_ACH14,RP_ACH13,RP_ACH12,RP_ACH11,RP_ACH10,RP_LOCPRIV
0,30001,Aigaliers,30,350.745416,229.895704,89.912186,30.937526,329.380299,19.413995,4.875347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.213457
1,30002,Aigremont,30,414.761075,327.900205,77.663837,9.197033,390.869741,20.817543,4.165367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.421945
2,30003,Aigues-Mortes,30,5376.776608,3983.513458,1084.436653,308.826498,3810.180887,1527.882255,73.796932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1032.117277
3,30004,Aigues-Vives,30,1628.669871,1417.886360,90.191022,120.592489,1424.993904,197.521667,24.947336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.631063
4,30005,Aigu√®ze,30,250.965647,110.032157,113.718747,27.214743,188.938835,54.307282,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.116791

In [ ]:
# filtrer sur AN == 2022
df_f = df[(df["AN"]==2022)]

In [ ]:
df_f

In [ ]:
# Exporter le fichier final dans un fichier CSV
df_f.to_csv("../SORTIE/data_clean_2022.csv", index=False)

Tableau 1 : Evolution des logements selon le type de l'habitat

In [7]:
df.head()

,insee_com,LIBGEO,DEP,LOG,RP,RSECOCC,LOGVAC,MAISON,APPART,RP_1P,...,RP_ACH05,RP_ACH18,RP_ACH17,RP_ACH15,RP_ACH14,RP_ACH13,RP_ACH12,RP_ACH11,RP_ACH10,RP_LOCPRIV
0,30001,Aigaliers,30,350.745416,229.895704,89.912186,30.937526,329.380299,19.413995,4.875347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.213457
1,30002,Aigremont,30,414.761075,327.900205,77.663837,9.197033,390.869741,20.817543,4.165367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.421945
2,30003,Aigues-Mortes,30,5376.776608,3983.513458,1084.436653,308.826498,3810.180887,1527.882255,73.796932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1032.117277
3,30004,Aigues-Vives,30,1628.669871,1417.886360,90.191022,120.592489,1424.993904,197.521667,24.947336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.631063
4,30005,Aigu√®ze,30,250.965647,110.032157,113.718747,27.214743,188.938835,54.307282,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.116791

In [3]:
histo_logement = df[["LIBGEO", "AN", "LOG", "MAISON", "APPART"]].copy()

In [4]:
# Pivot longer (√©quivalent de pivot_longer)
histo_logement = histo_logement.melt(
    id_vars=["LIBGEO", "AN", "LOG"],
    value_vars=["APPART", "MAISON"],
    var_name="TYPE_HABITAT",
    value_name="NOMBRE"
)

# Remplacement des valeurs dans TYPE_HABITAT
histo_logement["TYPE_HABITAT"] = histo_logement["TYPE_HABITAT"].replace({
    "APPART": "Appartements",
    "MAISON": "Maisons"
})

In [6]:
histo_logement["LOG"] = histo_logement["LOG"].round(0).astype(int)
histo_logement["NOMBRE"] = histo_logement["NOMBRE"].round(0).astype(int)

In [7]:
histo_logement.head()

          LIBGEO    AN   LOG  TYPE_HABITAT  NOMBRE
0      Aigaliers  2022   351  Appartements      19
1      Aigremont  2022   415  Appartements      21
2  Aigues-Mortes  2022  5377  Appartements    1528
3   Aigues-Vives  2022  1629  Appartements     198
4        Aigu√®ze  2022   251  Appartements      54

In [8]:
histo_logement.to_csv("../SORTIE/TAB_TYPEHAB.csv", index=False)

Tableau 2: evolution selon la categorie du logement

In [9]:
histo_logement_cate = df[["LIBGEO", "AN", "RP", "RSECOCC", "LOGVAC"]].copy()

# Pivot longer
histo_logement_cate = histo_logement_cate.melt(
    id_vars=["LIBGEO", "AN"],
    value_vars=["RP", "RSECOCC", "LOGVAC"],
    var_name="TYPE_LOG",
    value_name="NOMBRE"
)

# Remplacer les noms de cat√©gories
histo_logement_cate["TYPE_LOG"] = histo_logement_cate["TYPE_LOG"].replace({
    "RP": "R√©sidences principales",
    "RSECOCC": "R√©sidences secondaires et occasionnelles",
    "LOGVAC": "Logements vacants"
})

In [10]:
histo_logement_cate["NOMBRE"] = histo_logement_cate["NOMBRE"].round(0).astype(int)

In [11]:
histo_logement_cate.head()

          LIBGEO    AN                TYPE_LOG  NOMBRE
0      Aigaliers  2022  R√©sidences principales     230
1      Aigremont  2022  R√©sidences principales     328
2  Aigues-Mortes  2022  R√©sidences principales    3984
3   Aigues-Vives  2022  R√©sidences principales    1418
4        Aigu√®ze  2022  R√©sidences principales     110

In [12]:
histo_logement_cate.to_csv("../SORTIE/TAB_CATEHAB.csv", index=False)

Tableau 3 : r√©sidences principales selon le nombre de pieces

In [13]:
# D√©finition des colonnes √† pivoter
cols_typo_log = ["RP_1P", "RP_2P", "RP_3P", "RP_4P", "RP_5PP"]

# S√©lection + pivot_longer
rp_typo = df[["LIBGEO", "AN"] + cols_typo_log].melt(
    id_vars=["LIBGEO", "AN"],
    value_vars=cols_typo_log,
    var_name="TYPO",
    value_name="NOMBRE"
)

# Remplacement des libell√©s
rp_typo["TYPO"] = rp_typo["TYPO"].replace({
    "RP_1P": "T1",
    "RP_2P": "T2",
    "RP_3P": "T3",
    "RP_4P": "T4",
    "RP_5PP": "T5et+"
})

In [14]:

rp_typo["NOMBRE"] = rp_typo["NOMBRE"].round(0).astype(int)

In [15]:
rp_typo.head()

          LIBGEO    AN TYPO  NOMBRE
0      Aigaliers  2022   T1       5
1      Aigremont  2022   T1       4
2  Aigues-Mortes  2022   T1      74
3   Aigues-Vives  2022   T1      25
4        Aigu√®ze  2022   T1       0

In [16]:
rp_typo.to_csv("../SORTIE/RP_TYPO.csv", index=False)

Tableau 4 : r√©sidences principales selon leut p√©riodes de construction

In [18]:

rp_cons1 = df[df["AN"] == df["AN"].max()][
    ["LIBGEO", "AN", "RP_ACH19", "RP_ACH45", "RP_ACH70", "RP_ACH90", "RP_ACH05", "RP_ACH18"]
].copy()

cons_date = [c for c in rp_cons1.columns if c not in ["AN", "LIBGEO"]]

rp_cons = rp_cons1.melt(
    id_vars=["LIBGEO", "AN"],
    value_vars=cons_date,
    var_name="ANNEE_CONS",
    value_name="NOMBRE"
)

rp_cons["ANNEE_CONS"] = rp_cons["ANNEE_CONS"].replace({
    "RP_ACH19": "Construites avant 1919",
    "RP_ACH45": "Construites de 1919 √† 1945",
    "RP_ACH70": "Construites de 1946 √† 1970",
    "RP_ACH90": "Construites de 1971 √† 1990",
    "RP_ACH05": "Construites de 1991 √† 2005",
    "RP_ACH18": "Construites de 2006 √† 2018"
})

In [19]:
rp_cons.head()

          LIBGEO    AN              ANNEE_CONS  NOMBRE
0      Aigaliers  2022  Construites avant 1919     NaN
1      Aigremont  2022  Construites avant 1919     NaN
2  Aigues-Mortes  2022  Construites avant 1919     NaN
3   Aigues-Vives  2022  Construites avant 1919     NaN
4        Aigu√®ze  2022  Construites avant 1919     NaN

In [20]:
pd.crosstab(rp_cons["ANNEE_CONS"], rp_cons["NOMBRE"])

Empty DataFrame
Columns: []
Index: []

In [21]:
rp_cons["ANNEE_CONS"].value_counts()

ANNEE_CONS
Construites avant 1919        691
Construites de 1919 √† 1945    691
Construites de 1946 √† 1970    691
Construites de 1971 √† 1990    691
Construites de 1991 √† 2005    691
Construites de 2006 √† 2018    691
Name: count, dtype: int64

In [ ]:
rp_cons.to_csv("../SORTIE/RP_CONS.csv", index=False)

Tableau 4 : rp selon le statut d'occupation

In [17]:
cols_so_rp = ["RP_LOCHLMV", "RP_LOCPRIV", "RP_PROP", "RP_GRAT"]

# S√©lection + pivot_longer (melt)
rp_so = df[["AN", "LIBGEO"] + cols_so_rp].melt(
    id_vars=["AN", "LIBGEO"],
    value_vars=cols_so_rp,
    var_name="STATUT",
    value_name="NOMBRE"
)

# Filtrer sur la derni√®re ann√©e
rp_so = rp_so[rp_so["AN"] == rp_so["AN"].max()]

# Remplacer les labels du statut
rp_so["STATUT"] = rp_so["STATUT"].replace({
    "RP_LOCHLMV": "Locataire HLM (logement lou√© vide)",
    "RP_LOCPRIV": "Locataire du parc priv√© (locataire hors logement HLM lou√© vide)",
    "RP_PROP": "Propri√©taire",
    "RP_GRAT": "Log√© gratuitement"
})

In [18]:
rp_so["NOMBRE"] = rp_so["NOMBRE"].round(0).astype(int)

In [19]:
rp_so.head()

     AN         LIBGEO                              STATUT  NOMBRE
0  2022      Aigaliers  Locataire HLM (logement lou√© vide)       0
1  2022      Aigremont  Locataire HLM (logement lou√© vide)       0
2  2022  Aigues-Mortes  Locataire HLM (logement lou√© vide)     398
3  2022   Aigues-Vives  Locataire HLM (logement lou√© vide)      45
4  2022        Aigu√®ze  Locataire HLM (logement lou√© vide)       0

In [20]:
rp_so.to_csv("../SORTIE/RP_SO.csv", index=False)